* {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: #000000;
}

body, .bodyContainer  {
  /*background-image: url('http://samsung-wallpapers.com/uploads/allimg/140531/1-1405311J451.jpg');
  background-size: cover no-repeat;
  background-position-x: 45%;*/
  background: #ffffff;
}

.well, .thumbnail {
  background:  white;
  border: 5px solid black;
  /*opacity: 0.75;*/
}

.navbar {
  background: #000000;
}

.cargoIcon {
  height: 7vh;
  margin: -1vw;
  margin-bottom: 0.5vh;
}

h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  color: #000000;
}

a {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

h4 {
  display: inline;
  padding-right: 3vw;
}

.btn {
  background: #B82601;
  margin-bottom: 1vw;
}

.btn-danger {
  background: #813772;
}

.insta {
  padding-right: 0vw;
}

.socialMedia {
  text-align: center;
}

.parentRow {
  text-align: center;
  vertical-align: middle;
}

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-rounded {
  display: inline;
  float: left;
  background-image: url("./media/proPhoto.jpg");
  width:25%;
  height:auto;

  /* div height = width*/
  padding-top:25%;

  /* circular */
  border-radius:50%;

  /* center on image center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}
