body, .bodyBackground {
  background: #D2D7D3;
}

.well, .thumbnail {
  background: #ABB7B7;
}

.cargoIcon {
  height: 7vh;
  margin: -1vw;
  margin-bottom: 0.5vh;
}

h4 {
  display: inline;
  padding-right: 3vw;
}

.insta {
  padding-right: 0vw;
}

.socialMedia {
  text-align: center;
}

.parentRow {
  text-align: center;
  vertical-align: middle;
}

.vcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-rounded {
  display: inline;
  float: left;
  background-image: url("./media/proPhoto.jpg");
  width:25%;
  height:auto;

  /* div height = width*/
  padding-top:25%;

  /* circular */
  border-radius:50%;

  /* center on image center*/
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.red {
  background: #F64747;
}

.purple {
  background: #674172;
}

.ltBlue {
  background: #5C97BF;
}

.mdBlue {
  background: #2574A9;
}

.dkBlue {
  background: #22313F;
}

.ltGreen {
  background: #36D7B7;
}

.mdGreen {
  background: #1BBC9B;
}

.yellow {
  background: #F4B350;
}

.orange {
  background: #F27935;
}
